<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Psycho Idol</title>
</head>
<body>
    <div class="background">
        <div class="scores">
            <div class="scores-content">
                <h1 class="title-highscores">HIGHSCORES</h1>
                <div class="titles">
                    <h2>NAME</h2>
                    <h2>SCORE</h2>
                </div>
        
                <div class="score-group">
                    <div class="user-num">
                        <p class="num">1.</p>
                        <p class="user">BIDULE</p>
                    </div>
                    <p class="score">12 505</p>
                </div>
        
                <div class="score-group">
                    <div class="user-num">
                        <p class="num">2.</p>
                        <p class="user">BIDULE</p>
                    </div>
                    <p class="score">10 665</p>
                </div>
        
                <div class="score-group">
                    <div class="user-num">
                        <p class="num">3.</p>
                        <p class="user">BIDULE</p>
                    </div>
                    <p class="score">9 830</p>
                </div>
        
                <div class="score-group">
                    <div class="user-num">
                        <p class="num">4.</p>
                        <p class="user">BIDULE</p>
                    </div>
                    <p class="score">9 550</p>
                </div>
        
                <div class="score-group">
                    <div class="user-num">
                        <p class="num">5.</p>
                        <p class="user">BIDULE</p>
                    </div>
                    <p class="score">9 120</p>
                </div>
        
                <div class="score-group">
                    <div class="user-num">
                        <p class="num">6.</p>
                        <p class="user">BIDULE</p>
                    </div>
                    <p class="score">7 960</p>
                </div>
        
                <div class="score-group">
                    <div class="user-num">
                        <p class="num">7.</p>
                        <p class="user">BIDULE</p>
                    </div>
                    <p class="score">6 635</p>
                </div>
        
                <div class="score-group">
                    <div class="user-num">
                        <p class="num">8.</p>
                        <p class="user">BIDULE</p>
                    </div>
                    <p class="score">5 455</p>
                </div>
        
                <div class="score-group">
                    <div class="user-num">
                        <p class="num">9.</p>
                        <p class="user">BIDULE</p>
                    </div>
                    <p class="score">4 360</p>
                </div>
        
                <div class="score-group">
                    <div class="user-num">
                        <p class="num">10.</p>
                        <p class="user">BIDULE</p>
                    </div>
                    <p class="score">1 855</p>
                </div>
        
                <a class="again" href="">PLAY AGAIN</a>
            </div>
        </div>

    </div>

    <script type="text/javascript" src="script.js"></script>
</body>
</html>